# ========================================================
# CryptoSpike Client - Environment Configuration Template
# ========================================================

# Port Web Dashboard (Default: 3080)
PORT=3080

# URL Server Sinyal CryptoSpike
SERVER_URL=https://signal.forlearning.my.id

# (Opsional) Token Lisensi Klien (Bisa juga diisi via Web Dashboard)
CLIENT_TOKEN=
